<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>locate</string>
	<key>CFBundleIdentifier</key>
	<string>com.morph.locate</string>
	<key>CFBundleName</key>
	<string>locate</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>locate uses your location to return geographic coordinates.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>locate uses your location to return geographic coordinates.</string>
	<key>LSUIElement</key>
	<true/>
</dict>
</plist>
